$back-to-top-width: 50px;
$back-to-top-height: 50px;

$back-to-top-background-color: red;
$back-to-top-background-color-hover: blue;

$back-to-top-offset-right: 20px;

back-to-top {
  width: $back-to-top-width;
  height: $back-to-top-height;
  transform: rotate(45deg);
  backface-visibility: hidden;
  background-color: $back-to-top-background-color;
  position: fixed;
  bottom: 30px;
  @media only screen and (max-width: 450px) {
    bottom: 15px;
  }
  right: $back-to-top-width * -1;
  cursor: pointer;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .3s, right .3s ease-in-out;
  svg {
    transform: rotate(-45deg);
  }
  @media (hover: hover) {
    &:hover {
      background-color: $back-to-top-background-color-hover;
    }
  }
  &.is-active {
    right: $back-to-top-offset-right;
  }
}
