back-to-top {
  --backToTopBackgroundColor: #575757;
  --backToTopBackgroundColorHover: var(--deepBlushColor);
  --backToTopHeight: 50px;
  --backToTopOffsetRight: 20px;
  --backToTopWidth: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--backToTopWidth);
  height: var(--backToTopHeight);
  position: fixed;
  z-index: 20;
  right: calc(var(--backToTopWidth) * -1);
  bottom: 30px;
  cursor: pointer;
  background-color: var(--backToTopBackgroundColor);
  transition: background-color .3s, right .3s ease-in-out;
  backface-visibility: hidden;
  @media only screen and (max-width: 450px) {
	bottom: 15px;
  }

  @media (hover: hover) {
	&:hover {
	  --backToTopBackgroundColor: var(--backToTopBackgroundColorHover);
	}
  }

  &:focus {
	--backToTopBackgroundColor: var(--backToTopBackgroundColorHover);
  }

  &.is-active {
	right: var(--backToTopOffsetRight);
  }
}
